
.project {
    background-color: #f9f9f9;
    padding: 13rem 0;
}

@media (max-width: 1020px) {
.project {
    padding: 8rem 0;
    }
}
.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.project-content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
.project-content {
    text-align: center;
    }
}
.project-content p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.project-content h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.projects-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .projects-grid {
        flex-direction: column;
        align-content: center;
        gap: 3rem;
    }
}
/* .projects-grid {
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
} */

/* .projects-grid .pro {
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

.projects-grid .pro-img {
    background-color: hsla(0, 0%, 46%, .2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
    width: 53rem;
}

.projects-grid .pro-text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

.projects-grid .pro-text h3 {
    color: #2d2e32;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.project-content h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 6rem;
}

.projects-grid .pro-text p {
    color: #767676;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.stack p {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #000 !important;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 600 !important;
    padding: 1rem 1.3rem;
}

.links {
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.links a {
    color: #2d2e32;
    font-size: 1.7rem;
    font-weight: 500;
    gap: 5px;
    text-decoration: none;
}

.links,
.links a {
    align-items: center;
    display: flex;
} */