
.pro-card {
    flex-shrink: 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 490px;
    background-color: #ffff;
    margin-bottom: 4rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 600px) {
    .pro-card {
        width: 300px;
        height: 390px;
        justify-content: center;
    }
}

.pro-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (max-width: 600px) {
    .pro-img {
        width: auto;
        height: auto;
    }
}

.pro-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
    gap: 1.5rem
    
}

.pro-text h3{
    margin-bottom: 0;
}

.pro-text h4 {
    text-align: start;
    font-size: 1.4rem;
    color: rgb(55 65 81);
    font-weight: normal;
}

.stack {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.links{
    display: flex;
    gap: 2rem;
}

.links a{
    color: #2d2e32;
    font-size: large;
}

.links a:hover{
    color: #147efb;
}